* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #FFD859;
}

section.homepage-title {
    background-color: #098765;
}

section.image {
    background-color: #EEDCE1;
}

footer {
    background-color: #B88546;
}