* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header header"
                         "title image"
                         "footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns:1fr 500px;                     
}

header {
    background-color: #34322D;
    grid-area: header;
}

section.homepage-title {
    background-color: #098765;
    grid-area: title;
    background-image: url(/img/computerdesk.jpg);
    background-size: cover;
}

section.image {
    background-color: #EEDCE1;
    grid-area: image;
    background-image: url(/img/daniel-saleh.jpg);
    background-size: cover;
    background-position: center;
   
}

footer {
    background-color: #34322D;
    grid-area: footer;
}